<div class="shopping-cart-area s-cart-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="s-cart-all">
                            <div class="cart-form table-responsive">
                                <table id="shopping-cart-table" class="data-table cart-table">
                                    <tr>
                                        <th class="low1">Название</th>
                                        <th class="low7">Количество</th>
                                        <th class="low7">Цена</th>
                                        <th class="low7">Сумма</th>
                                    </tr>

                                    {% for item in shoes %}

                                    <tr>
                                        <td class="sop-cart an-shop-cart">
                                            <a href="#"><img class="primary-image" alt="" src="{{ item.shoes_images_set.first.image.url}}"></a>
                                            <a href="#">{{ item.title }}</a>
                                        </td>
                                        <td class="sop-cart an-sh">
                                            <div class="quantity ray">
                                                <input class="input-text qty text" id="get_number" type="number" size="4" title="Qty" value="{{ item.cart_set.get.number }}" min="0" step="1" onclick="SendAjaxData('{{ item.id }}', 'number', this.value)">
                                            </div>
                                             <button type="submit"
        onclick="SendAjaxData('{{ item.id }}', 'delete', document.getElementById('get_number').value)" class="remove" data-original-title="Удалить из корзины">Удалить</button>
{#                                            <a class="remove" href="#">#}
{#                                                <span>x</span>#}
{#                                            </a>#}
                                        </td>
                                        <td class="sop-cart">
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount">{{item.price}}</span>
                                            </div>
                                        </td>
                                        <td class="cen">
                                             <span class="amount">{{ item.sum_price }}</span>
{#                                            <span class="amount">{% sum item.price item.cart_set.get.number %}</span>#}
                                        </td>
                                    </tr>
{% endfor %}

                                </table>
                            </div>
                            <div class="last-check1">
                                <div class="yith-wcwl-share yit">
                                    <p class="checkout-coupon an-cop">
                                        <input type="submit" value="Update Cart">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="second-all-class">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="sub-total">
                                <table>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal:</th>
                                            <td>
                                                <span class="amount">{{total_sum}} $</span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total:</th>
                                            <td>
                                                <strong>
                                                    <span class="amount">{{total_sum}} $</span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="wc-proceed-to-checkout">
                                <p class="return-to-shop">
                                    <a class="button wc-backward" href="#">Continue Shopping</a>
                                </p>
                                <a class="wc-forward" href="#">Confirm Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> </div>