{% for item in favorite %}

                                    <tr>
                                        <td class="sop-icon1">
{#                                            <a href="#">#}
                                                <button type="submit"
        onclick="WishlistData('{{ item.id }}', 'delete')" class="Wishlistbutton fa fa-times" data-original-title="Добавить в избранное"></button>
{#                                                <i class="fa fa-times"></i>#}
{#                                            </a>#}
                                        </td>
                                        <td class="sop-cart">
                                            <a href="#"><img class="primary-image" alt="" src="{{ item.shoes_images_set.first.image.url }}"></a>
                                        </td>
                                        <td class="sop-cart an-sh">
                                            <div class="tb-beg">
                                                <a href="#">{{ item.title}}</a>
                                            </div>
                                            <div class="last-cart l-mrgn">
                                                <a class="las4" href="#">Quick View</a>
                                            </div>
                                        </td>
                                        <td class="sop-cart">
                                            <div class="tb-product-price font-noraure-3">
                                                <span class="amount">{{ item.price}}</span>
                                            </div>
                                        </td>
                                        <td class="cen">
                                            <span class="wishlist-in-stock">In Stock</span>
                                        </td>
                                        <td class="sop-cart">
                                            <div class="last-cart l-mrgn wish">
 <button type="submit"
        onclick="WishlistData('{{ item.id }}', 'cart')" class="Wishlistbutton las4" data-original-title="Добавить в корзину">Добавить в корзину</button>
                                                {#                                                <a class="las4" href="#"> Add to Cart</a>#}
                                            </div>
                                        </td>
                                    </tr>

                                    {% endfor %}
